@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --azulclaro: #48D6ED;
    --azuloscuro: rgb(51, 122, 183);
    --azulnegro: #303342;
    --negro: rgb(51, 51, 51);
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: rgb(21, 122, 138);
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, rgb(11, 56, 96) 80.34%);  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}



/*NAVEGACION*/
nav{ 
    background-color: #000;
    font-family: 'Marcellus', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 1rem;
}

.logo img{
    height: 3rem;
}

.imagen img{
    height: 26rem;
}

.item{
    padding: 1rem;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.contendordescripcion{
    background:rgba(0, 0, 0, 0.479) ;
    padding: 10px 20px 30px 20px;
    width: 50%;
    height: 20%;
}

.descrpcion--img{
    height: 19rem;
    opacity: 2;
    color: #fff;
}

.descripcion{
    background: url('../img/edvin-johansson-rlwE8f8anOc-unsplash.jpg') no-repeat;   
    background-size: cover;
    align-items: flex-end;
    padding: 9px; 
    display:flex;
    height: 78vh;
}

.menu button{
    font-size: 1em;
    font-family: 'Marcellus', serif;
    background-color: #164a77;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.menu i{
    text-decoration: none;
    color: #fff;
}


/*INFORMACION*/
.info{
    color: #000;
    text-decoration: none;
}

.infohotelia{
    display:flex;
    padding: 10%;
    align-items: center;
    justify-content: space-between;
}

.infohotelia > p{
    text-align: justify;
    margin-right: 80px;
}

.hotelia--logo{
    width: 200px;
}


/*SERVICIOS*/
.tituloservicios{
    background-color: rgba(59, 59, 59, 0.507);
    font-family: 'Marcellus', serif;
    margin-top: 31px;
}

.box  i{
    font-size: 36px;
}

.box  i, .box  p{
    color: #fff;
    font-size: 25px;
}

.container-servicios{
    background-image: url('../img/servicio.png');
    padding-top: 31px;
    padding-bottom: 31px;
    background-size: cover;
   
}

.tituloss{
    color: #fff;
    text-align: center;
    font-family: 'Marcellus', serif;
    font-weight: 401;
}

.box--blue{
    background:rgb(11, 56, 96, 0.7) ;
}

.box--dark{
    background:rgb(0, 0, 0, 0.7) ;
}

.box{
    padding: 50px 10px 10px 10px;
    text-align: center;
    width: 251px;
    height: 151px;
    border-radius: 8px;
}

.cajass{
    display:flex;
    justify-content: space-around;
    margin-top: 31px;
}

/*UBICACION*/
.title{
    color: #000;
    font-weight: 401;
    margin-top: 31px;
    font-family: 'Marcellus', serif;
    font-size: 3rem;
    text-align: center;
}

.telefono{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 201;
    margin-top: 31px;
    color: #000;
    font-family: 'Marcellus', serif;
}

.map{
    width: 93%;
    margin: 3%;
}

.ubicacion{
    font-size: 1.5rem;
    font-family: 'Marcellus', serif;
    font-weight: 201;
    text-align: center;
    color: #000;
    margin-top: 31px;
}

.hrbi{
    margin-left: 18px;
    width: 90%;
    border-color: rgb(51, 122, 183);
}

/*OPINIONES USUARIOS*/
.encabezadocomen{
    width: 100%;
    height: 20vh;
    padding: 10px;
    background-color: #121212;
}

.calificaciones{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.titulocomentarios{
    font-size: 2rem;
    font-family: 'Marcellus' serif;
    text-align: center;
    color: #fff;
    margin: 30px 0;
}

.comen{
    border-radius: 2px;
    background-image: url(../img/Group\ 200.svg);
    background-repeat: no-repeat;
    width: 300px;
    min-width: 250px;
    margin: -10px 20px 10px 20px;
    height: 190px;
    background-color: var(--azuloscuro);
    z-index: 2;
    padding: 50px;
    color: #fff;
}

.huespedcomen{
    width: 73px;
    border-radius: 35%;
    margin-left: 20px;
}


.perfilescomen{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.nombreh{
    font-size: 15px;
    margin-left: 8px;
}
 
.estrellas{
    margin-left: 10px;
}

#valoracionestrella{
    color: var(--Magenta);
}

.brevedescrp{
    font-size: 15px;
    margin: 20px;
    margin-left: 20px;
}
  

/*CONTENEDOR VACIO*/
.comens {
    width: 100%;
    height: 30vh;
    background-color: #fff;
}

/*FOOTER*/
.direccion{
    margin-top: 11px;
    width: 201px;
    align-items: center;
}

.fa-location-dot{
    color: #fff;
    text-decoration: none;
}

.fa-brands{
    color: #fff;
    text-decoration: none;
}

.footer{
    align-content: flex-end;
    justify-content: space-around;
    background-color: #000;
    display: flex;
    color: #fff;
}

.direccion i{
    font-family: 'Marcellus', serif;
    text-decoration: none;
    color: #fff;

}

.direccion p{
    font-family: 'Marcellus', serif;
    font-size: 15px;
}



/*LOGUEO*/
.cuerpologin{ 
    width: 100%;
    height: 96vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/paolo-nicolello-2gOxKj594nM-unsplash.jpg');
}

.encabezadol{
    overflow: hidden;
    position: relative;
}

.contenedorl{
    border-radius: 5px;
    width: 401px;
    background: rgba(55, 114, 165, 0.63) ;
    margin: 0% auto;
    font-family: 'Marcellus', serif;
    margin-top: 32px;
    padding-bottom: 5%;
}

.btn-login{ 
    border-radius: 3px;
    background:#000;
    width: 301px;
    margin: 21px auto;
    color: #fff;
    font-size: 19px;
    padding: 5px 15px;
    font-family: 'Marcellus', serif;
    font-weight: lighter;
    display: block;
}

.formularioLogin a{
    text-decoration: none;
    color:#000;
}


.logol{
    top: 11px;
    left: 11px;
    width: 121px;
    position: absolute;
}

.formularioLogin{
    color: #fff;
    width: 301px;
    margin: 0 auto;
}

.decoracionl{
    background-image:url('../img/loginb.svg');
    width: 215%;
    height: 141px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -40px;
}

.atributosLogin{
    padding: 6px;
    font-size: 16px;
    color: #000000;
    margin-bottom:20px;
    width: 100%;
    outline: none;
    border:none;
    border-radius: 2px;
}

/*FORMULARIO HUESPED*/
.hoteliaicon{
    width: 280px;
    border: none;
    border-radius: 10px;
    float: left;
    margin-right: 20px; 
}

.bienvenida{
    background-image: url('../img/yuliya-pankevich-oyxsG2Lh_uA-unsplash.jpg');
    background-size: cover;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 105vh;
    display: grid;
}

.navegabilidaddelleft{
    align-items: center;
    font-family: 'Marcellus', serif;
    justify-content: center;
    background: rgba(11, 56, 96, 0.74);
    display:flex;
    flex-direction: column;align-items: center;
    font-family: 'Marcellus', serif;
    justify-content: center;
    background: rgba(11, 56, 96, 0.74);
    display:flex;
    flex-direction: column;
}

.regis{
    font-family: 'Marcellus', serif;
    font-weight: 401;
    font-size: 2.5rem;
    color: #000;
    text-align: center;
}

.tituloleft{
    margin-top: 15px;
    text-align: center;
    width: 101px;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}

.ingresarform{
    width: 100px;
    height: 40px;
    margin: 10px 150px;
    border-radius: 3px;
    font-family: 'Marcellus', serif;
    background: #000;
    font-weight: lighter;
    color: #fff;
    font-size: 18px;
    padding: 6px 16px;
    display: block;
    width: 301px;
    margin: 0px auto;
    margin-bottom: 10px;
}



.registroh input[type="text"], select{
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
    border:none;
    padding: 6px;
    border-radius: 5px;
}

.registroh input[type="password"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.registroh input[type="number"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.registroh input[type="tel"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.registroh input[type="email"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.registroh input[type="date"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.registroh input[type="file"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.fa-solid{
    text-decoration: none;
    color: #000;
}

.terminoycondi{
    margin:10px auto;
    display:block;
    width: 301px;
}

.formularioregistro{
    width: 90%;
    margin: 5% 8% 5% 5%;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

.atributosform{
    padding: 11px;
}

.registroh{
    margin: 10px 150px;
    border-radius: 3px;
    border: none;
    display: grid;
    margin: auto;
    width: 500px;
    grid-template-columns: 50% 50%;
}

/*MODAL TYC*/
.modal-contenido{
    background-color: rgb(255, 255, 255);
    width: 900px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 3px;
}

.terminosacept{
    width: 100px;
    height: 40px;
    margin: 10px 150px;
    border-radius: 3px;
    border: none;
    font-family: 'Marcellus', serif;
    background: #000;
    font-weight: lighter;
    color:  #fff;
    font-size: 18px;
    padding: 6px 16px;
    display: block;
    width: 105px;
    margin: 0px auto;
     
}

.termiyserv{
    text-decoration: none;
    color: #000000;
}

.regreso{
    text-decoration: none;
    font-family: 'Marcellus', serif;
    color: #ffffff;
}
  
.modal{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.596);
    align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#miModal:target{
    opacity:2;
    pointer-events:auto;
}

.termiyserv{
    text-decoration: none;
    color: #000000;
}
.salirt{
    text-decoration: none;
    font-family: 'Marcellus', serif;
    color: #000000;
}

/*DASHBOARD*/
.datoshuesped input[type="text"], select{
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
    border:none;
    padding: 6px;
    border-radius: 5px;
}


.datoshuesped input[type="number"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.datoshuesped input[type="tel"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.datoshuesped input[type="email"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.accionesh{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.accionesh i{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contendorpadreH{
    background-image: url(../img/shop-slo-vhztm9QC0L0-unsplash.jpg);
    background-repeat: no-repeat;
    grid-template-columns: 20% auto;
    background-size: 100% 100%;
    display:grid;
    width: 100%;
    height: 100vh;
}

.accioneslat{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contentHuesped{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.infohuesped{
    padding:30px;
    background-color:rgba(255, 255, 255,.8);
    display:grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto;
    width: 90%;
    height: 90%;
}

.infohuesped h1{
    text-align:center;
    grid-column: 1/ 3;
}

.datoshuesped{
    column-gap:20px;
    height: auto;
    display:grid;
    grid-template-columns: 45% auto;
    padding: 0 0 20px 0;
    margin-left: 25px;
    width: 100%;
}

.contenedorlateral{
    background-color: var(--azulnegro);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logolhot{
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:20px 0;
    color: #fff;
}

.logolhot a{
    font-size: 1.3em;
    text-decoration: none;
    color:  #fff;
}

.salirl{
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #1c1e27;
}

.cambiocontrasena{
    grid-template-columns:45% auto;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    margin-left: 20px;
}

.cambiocontrasena input[type="password"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #818497;
    width: 230px;
    outline: none;
}

.cambiocontrasena label{
    color: #000;
}

.datoshuesped label{
    color: #000;
}

.editar{
    background: #000;
    height: 40px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    padding: 5px;
    display: block;
    width: 180px;
    margin: 0px auto;
    margin-left: 5px;
    font-family: 'Marcellus', serif;
    font-weight: lighter;
    color:  #fff;
}

.accioneshuespedfoto{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--azuloscuro);
    color:  #fff;
    display: flex;
    flex-direction: row;
    margin: 5px 0 ;
}

.accioneshuespedfoto i{
    margin: 5px 10px;
    font-size:1.8rem;
}

.CambiarContr{
    font-size: 1.2em;
    margin-left: 1px;
    width: 100%;
    color:  #fff;
    height: 60px;
    font-weight: lighter;
    padding: 10px;
    display: block;
    background:rgb(41, 43, 44);
    border-radius: 3px;
    border: none;
}

.infopersonalhuesped{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    height: 100%;
    padding:10px;
    grid-template-rows: auto auto;
}


/*LISTADO HABITACIONES*/
.accioneshh{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.accioneshh i{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.contendorprinci{
    background-image: none;
    background-repeat: no-repeat;
    grid-template-columns: 20% auto;
    background-size: 100% 100%;
    display:grid;
    width: 100%;
    height: 100vh;
}

.contentHuespedd{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.infohuespedd{
    padding:30px;
    background-color:rgba(255, 255, 255, 0.8);
    display:grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto;
    width: 100%;
    height: 173vh;
}

.infohuespedd h1{
    text-align:center;
    grid-column: 1/ 3;
}

.accioneslatt{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.accioneslatt a{
    font-size: 15px;
}

.salirll a{
    font-size: 15px;
}
.contenedorlaterall{
    background-color: var(--azulnegro);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logolhott{
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:20px 0;
    color: #fff;
}

.logolhott a{
    font-size: 1.em;
    text-decoration: none;
    color:  #fff;
}

.salirll{
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #1c1e27;
}

.salirlll{
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 755px;
    height: 20px;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    background:rgba(77, 72, 72, 0.603) ;
}

.salirlll select{
    margin-left: 5px;
    font-size: 16px;
    color: #000000;
    width: 200px;
    outline: none;
    border:none;
    padding: 6px;
    border-radius: 5px;
}

.seleccion{
    margin-left: 8px;
}

.foto{
    width: 100px;
}

.fotol{
    width: 80px;
    border-radius: 5px;
}

.logo1{
    width: 150px;
}


/*HABITACIONES LISTADAS*/
.lh  i{
    font-size: 36px;
}

.lh  p{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.listahabi{
    height: 400px;
    align-content: center;
    width: 100%;
    margin: 50px -650px 10px;
    margin-left: -140px;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 20px;
    background-size: cover; 
   
}

.listhabi{
    height: 150px;
    width: 90%;
}

.lh--blue{
    margin-left: 35px;
    background:rgb(255, 255, 255) ;
}

.lh--dark{
    margin-left: 35px;
    background:rgb(255, 255, 255) ;
}

.lh{
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.507);
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 251px;
    height: 351px;
    border-radius: 2px;
}

.cojas{
    display:flex;
    margin-top: 31px;
}



.modi{
    font-size: 12px;
    width: 80px;
    color:  #fff;
    height: 30px;
    background:rgb(41, 43, 44);
    border-radius: none;
    border-color: rgb(41, 43, 44);
}

.inac{
    font-size: 12px;
    width: 80px;
    color:  #fff;
    height: 30px;
    background: var(--Magenta);
    border-radius: none;
    border-color: var(--Magenta);
}



/*BUSQUEDA*/
.cuerpologinn{ 
    width: 100%;
    height: 96vh;
    background-color: #fff;
}

.contenedorll{
    float: left;
    border-radius: 5px;
    width: 401px;
    background: rgba(231, 231, 231, 0.863) ;
    margin: 50px 32px 32px 20px;
    font-family: 'Marcellus', serif;
    padding-bottom: 5%;
    box-shadow: 1.5px 1.5px 2px 2px  rgba(23, 129, 161, 0.719);
}

.btn-busqueda{ 
    border-radius: 3px;
    background:#000;
    width: 301px;
    margin: 21px auto;
    color: #fff;
    font-size: 19px;
    padding: 5px 15px;
    font-family: 'Marcellus', serif;
    font-weight: lighter;
    display: block;
}

.btn-busqu{ 
    border-radius: 3px;
    background:rgb(12, 123, 187);
    width: 301px;
    margin: 21px auto;
    color: #fff;
    font-size: 19px;
    padding: 5px 15px;
    font-family: 'Marcellus', serif;
    display: block;
    border-radius: none;
    border-color: rgb(12, 123, 187);
}

.formularioLogin a{
    text-decoration: none;
    color:#000;
}



.formularioLoginn{
    color: rgb(0, 0, 0);
    width: 301px;
    margin: 0 auto;
}


.atributosLoginn{
    padding: 6px;
    font-size: 16px;
    color: #000000;
    margin-bottom:20px;
    width: 100%;
    outline: none;
    border:none;
    border-radius: 2px;
}


.atributosLoginn input[type="date"]{
    font-size: 16px;
    width: 50px;
    outline: none;
    border:none;
    padding: 6px;
    border-radius: 5px;
}

.atributosLoginn input[type="number"]{
    font-size: 16px;
    width: 50px;
    outline: none;
    border:none;
    padding: 6px;
    border-radius: 5px;
}


.boxes  i{
    font-size: 3px;
}

.boxes  h3{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.boxes  i, a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    bottom: 50px;
}



.habidispo{
    float: right;
    height: auto;
    align-content: center;
    width: 50%;
    margin: 20px 20px 20px 20px;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    background-size: cover;  
}


.boxes--blue{
    background: #fff;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.507);
}

.boxes--dark{
    margin-left: 25px;
    background: #fff;
    box-shadow: 0.5px 0.5px 1px 1px  rgba(0, 0, 0, 0.507);
}

.boxes{
    padding: 20px 10px 10px 10px;
    text-align: center;
    width: 40%;
    height: 420px;
    border-radius: 2px;
}

.cajass{
    flex-direction: column;
    margin-top: 30px;
    margin: 30px 30px 30px 30px;
    width: 60%;
    display:flex;
    justify-content: space-around;
    margin-top: 31px;
}

.clo1{
    margin: 5px 5px 5px 5px;
    width: 100%;
    flex-direction:row;
    display:flex;
    justify-content: space-around;
    margin-top: 31px;
}

.clo2{
    margin: 5px 5px 5px 5px;
    width: 100%;
    flex-direction: row;
    display:flex;
    justify-content: space-around;
    margin-top: 31px;
}

.reservashabi{
    height: 150px;
    width: 90%;
}

.busqueda .fa-magnifying-glass{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btnr2{ 
    border-radius: 3px;
    background:rgb(12, 123, 187);
    width: 180px;
    margin: 21px auto;
    color: #fff;
    font-size: 19px;
    padding: 5px 15px;
    font-family: 'Marcellus', serif;
    display: block;
    border-radius: none;
    border-color:rgb(12, 123, 187);
}

.btnr1{ 
    border-radius: 3px;
    background:rgb(0, 0, 0);
    width: 180px;
    margin: 21px auto;
    color: #fff;
    font-size: 19px;
    padding: 5px 15px;
    font-family: 'Marcellus', serif;
    display: block;
    border-radius: none;
    border-color: rgb(0, 0, 0);
}


.opcionesl{
    text-decoration: none;
    font-size: 19px;
    color: #fff;

}

/*MODAL HABITACION*/
.containermodal {
    height: 90%;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

dialog {
    margin: 20px 20px 20px 50px;
    width: 90%;
    padding: 40px 70px;
    border: none;
    background-color: #FAFAFA;
}

.salirmodal{
    font-family: 'Marcellus', serif;
    font-size: 20px; 
    margin-right: -830px;
    margin-top: 10px;
}

dialog::backdrop {
    background: rgba(105, 105, 105, 0.9);
}


/*LISTA DE RECURSOS*/
#l1{
    float:left
  }

#l2{
    float: right;
}
  
.social-icons li {
    font-size: 1.2em;
    padding: 0.5em;
}
  
#l1 .icons{
    display:list-item;
    list-style:none;
}
  
#l2 .icons{
    display:list-item;
    list-style:none;
}

.social-icons h3{
    color:#1b498d
}


/*MODAL HABITACIONES*/
.slider-container {
    display: flex;
    width: 100%;
    height: 50vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
  
.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}


/*FORMULARIO HABITACION*/
.bienvenidaa{
    background-image: url('../img/sven-brandsma-GZ5cKOgeIB0-unsplash.jpg');
    background-size: cover;
    grid-template-columns: 30% 70%;
    width: 100%;
    height: 105vh;
    display: grid;
}



.regiss{
    font-family: 'Marcellus', serif;
    font-weight: 401;
    font-size: 2.5rem;
    color: #000;
    text-align: center;
}


.registrohh input[type="text"]{
    font-size: 16px;
    color: #000000;
    width: 230px;
    outline: none;
    border:none;
    padding: 6px;
    border-radius: 5px;
}


.registrohh input[type="number"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #000000;
    width: 230px;
    outline: none;
    top: 5px;
}


.registrohh input[type="file"]{
    border-radius: 5px;
    border:none;
    padding: 6px;
    font-size: 16px;
    color: #000000;
    width: 230px;
    outline: none;
}

.atributosformme{
    width: 100%;
    padding: 11px;
    align-content: center;
    background-color: none;
}

.atributosformme input{
    margin-left: 60px;
}


.fa-solid{
    text-decoration: none;
    color: #000;
}


.formularioregistroo{
    height: 500px;
    width: 90%;
    margin: 5% 8% 5% 5%;
    background: rgba(218, 209, 209, 0.795);
    border-radius: 4px;
}

.atributosformm{
    padding: 11px;
}

.registrohh{
    margin: 10px 150px;
    border-radius: 3px;
    border: none;
    display: grid;
    margin: auto;
    width: 500px;
    grid-template-columns: 50% 50%;
}

.ingresarformm{
    width: 150px;
    height: 40px;
    margin: 10px 150px;
    border-radius: 3px;
    font-family: 'Marcellus', serif;
    background: rgb(36, 35, 35);
    font-weight: lighter;
    color: #fff;
    font-size: 17px;
    padding: 6px 16px;
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
}

.cambiocontrasenaa{
    grid-template-columns:45% auto;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    margin-right: 100px;
}

.cambiocontrasenaa button{
    margin-left: 240px;
}

.descrpitor[type="text"]{
        font-size: 16px;
        color: #000000;
        width: 330px;
        outline: none;
        border:none;
        padding: 6px;
        border-radius: 5px;
}


.iconosh{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.iconosh a{
    font-size: 18px;
}

.fuera a{
    font-size: 18px;
}
.contenedorhabi{
    background-color: var(--azulnegro);
    backdrop-filter: blur(5px);
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logohabi{
    background-image: url(../img/Group\ 200.svg);
    background-size: cover;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:20px 0;
    color: #fff;
}

.logolhott a{
    font-size: 1.em;
    text-decoration: none;
    color:  #fff;
}

.fuera{
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 20px;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    background:rgba(77, 72, 72, 0.603) ;
}

.fotohh{
    width: 75px;
    border-radius: 5px;
}

.logoh{
    width: 155px;
}

.accioness{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.accioness i{
    text-decoration: none;
    color: rgb(255, 255, 255);
}